<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Degmander</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/degmander.ico">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/smoothie@1.36.0/smoothie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gaugeJS@1.3.8/dist/gauge.min.js"></script>


</head>
<body>
    <div class="container-fluid header-container">
        <header class="text-center mb-4">
            <h1>Degmander 420RT System Monitor</h1>
        </header>
    </div>
    <div class="container">
        <div class="column column-1">  
            <header class="text-center mb-4">
                <h1 style="font-size: 1.5rem">CONTROL PANEL</h1>
            </header>
            <div class="button-grid" style="margin-bottom: 4vh">
                <button class="button-1" id="button-1">CONNECT</button>
                <button class="button-2" id="button-5">STOP</button>
                <button class="button-3" id="button-4">DISCONNECT</button>
            </div>
            <div class="text-left small-header" style="margin: 2.5vh 0 0vh 0.5vw;">
                <div id="h2" style="font-size: .7rem">SIGNAL 1</div>
            </div>
            <div class="button-grid">
                <button class="button-4" id="button-2">MONITOR</button>
                <button class="button-5" id="button-3">REAL TIME</button>
                <div class="button-grid-small">
                    <button class="button-6" id="button-6" style="width: 4rem;">JSON</button>
                    <button class="button-6" id="button-10" style="width: 4rem;">DB</button>
                </div>
            </div>
            <div class="text-left small-header" style="margin: 1.5vh 0 0vh 0.5vw;">
                <div id="h3" style="font-size: .7rem" >SIGNAL 2</div>
            </div>
            <div class="button-grid">
                <button class="button-7" id="button-7">MONITOR</button>
                <button class="button-8" id="button-8">REAL TIME</button>
                <div class="button-grid-small">
                    <button class="button-9" id="button-9" style="width: 4rem;">JSON</button>
                    <button class="button-9" id="button-11" style="width: 4rem;">DB</button>
                </div>
            </div>
            <div id="status">~$: </div>
            <div id="monitor-data">
                <div id="arduino-display-data" style="display: none">
                    <div id="arduino-data"></div>
                </div>
            </div>
            <div class="smoothie-graph">
                <canvas id="gaugeCanvas" style="width: 100%; height: 100%;"></canvas>
            </div>
            <div class="smoothie-graph" style="margin-top: 1vh">
                <canvas id="gaugeCanvasLumin" style="width: 100%; height: 100%;"></canvas>
            </div>   
        </div>
        <div class="column column-2">
            <div class="chart" style="border: 0.2rem solid rgba(70, 0, 0, 0.5); ">
                <canvas id="distanceChart"></canvas>
            </div>
            <div class="chart" style=" border: 0.2rem solid rgba(0, 70, 70, 0.5); ">
                <canvas id="luminChart"></canvas>
            </div>
        </div>
        <div class="column column-3">
            <div class="cifernik">
                <canvas id="distanceGauge" style="width: 100%; height: 100%;"></canvas>
            </div>
            <div class="cifernik">
                <canvas id="luminGauge" style="width: 100%; height: 100%;"></canvas>
            </div>
        </div>
    </div>
    <footer class="text-center mt-4">
        <p>&copy; 2024 Degmander System Control. All rights reserved.</p>
    </footer>

    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io();
            var displayDistanceLive = false;
            var monitorDistanceLive = false;
            var displayLuminLive = false;
            var monitorLuminLive = false;
            var distanceData = [];
            var luminData = [];
            
            var ctx = document.getElementById('distanceChart').getContext('2d');
            var distanceChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Distance',
                        data: distanceData,
                        borderColor: 'rgba(180, 0, 40, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'second'
                            },
                            title: {
                                display: true,
                                text: 'Time',
                                color: 'rgba(220, 0, 20, 0.8)'
                            },
                            ticks: {
                                color: 'rgba(220, 0,20, 0.8)' 
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Distance (cm)',
                                color: 'rgba(220, 0, 20, 0.8)'
                            },
                            ticks: {
                                color: 'rgba(220, 0, 20, 0.8)' 
                            }
                        }
                    }
                }
            });
    
            var ctl = document.getElementById('luminChart').getContext('2d');
            var luminChart = new Chart(ctl, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Light Intensity (lx)',
                        data: luminData,
                        borderColor: 'rgba(40, 180, 180, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'second'
                            },
                            title: {
                                display: true,
                                text: 'Time',
                                color: 'rgba(0, 255, 255, 0.8)'
                            },
                            ticks: {
                                color: 'rgba(0, 255, 255, 0.8)' 
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Light Intensity (lx)',
                                color: 'rgba(0, 255, 255, 0.8)'
                            },
                            ticks: {
                                color: 'rgba(0, 255, 255, 0.8)' 
                            }
                        }
                    }
                }
            });
    
            
            // SMOOTHIE DISTANCE 
    
            var canvas = document.getElementById('gaugeCanvas');
    
            canvas.width = canvas.clientWidth;
            canvas.height = canvas.clientHeight;
            var smoothie = new SmoothieChart({
                minValue: 0,
                maxValue: 50,
                grid: {
                    strokeStyle: 'rgba(139, 0, 0, 0.6)', 
                    fillStyle: 'rgba(0, 0, 0, 1)',
                    lineWidth: 1,
                    millisPerLine: 1000,
                    verticalSections: 6,
                    labelPrecision: 0,
                },
                labels: {
                    fillStyle: 'rgba(255, 255, 255, 1)',
                    disabled: true
                }
            });
    
            smoothie.streamTo(canvas, 1000);
    
            var gaugeData = new TimeSeries();
    
            smoothie.addTimeSeries(gaugeData, {
                strokeStyle: 'rgba(255, 0, 0, 0.8)', 
                fillStyle: 'rgba(255, 0, 0, 0.4)',
                lineWidth: 3
            });
    
            var canvasLumin = document.getElementById('gaugeCanvasLumin');
    
            canvasLumin.width = canvasLumin.clientWidth;
            canvasLumin.height = canvasLumin.clientHeight;
    
            var smoothieLumin = new SmoothieChart({
                minValue: 0,
                maxValue: 300,
                grid: {
                    strokeStyle: 'rgba(0, 139, 139, 0.6)',
                    fillStyle: 'rgba(0, 0, 0, 1)',
                    lineWidth: 1,
                    millisPerLine: 1000,
                    verticalSections: 6,
                    labelPrecision: 0,
                    labels: {
                        disabled: true 
                    }
                },
                labels: {
                    fillStyle: 'rgba(255, 255, 255, 1)',
                    disabled: true 
                }
            });
            smoothieLumin.streamTo(canvasLumin, 1000);
    
            // LUMIN 
    
            var luminData = new TimeSeries();
    
            smoothieLumin.addTimeSeries(luminData, {
                strokeStyle: 'rgba(0, 255, 255, 0.8)', 
                fillStyle: 'rgba(0, 255, 255, 0.4)',
                lineWidth: 3
            });
    
            // GAUGEJS DISTANCE GAUGE 

            var target = document.getElementById('distanceGauge');
    
            target.width = target.clientWidth;
            target.height = target.clientHeight;
    
            var gauge = new Gauge(target).setOptions({
                angle: -0.3, 
                lineWidth: 0.2,
                radiusScale: 0.8,
                pointer: {
                    length: 0.6, 
                    strokeWidth: 0.035, 
                    color: 'rgba(130, 0, 0, 1)' 
                },
                limitMax: false,
                limitMin: false,
                renderTicks: {
                    divisions: 5,
                    divWidth: 1.1,
                    divLength: 0.7,
                    divColor: 'rgba(255, 0, 0, 0.8)' ,
                    subDivisions: 3,
                    subLength: 0.5,
                    subWidth: 0.6,
                    subColor: 'rgba(255, 0, 0, 0.8)' 
                },
                staticLabels: {
                    font: "10px sans-serif", 
                    labels: [0, 20, 40, 60, 80, 100],  
                    color: 'rgba(0, 0, 0, 0.8)' ,  
                    fractionDigits: 0  
                },
                staticZones: [
                    {strokeStyle: 'rgba(70, 0, 0, 0.5)', min: 0, max: 400}, 
                ],
            });
            gauge.maxValue = 400; 
            gauge.setMinValue(0);  
            gauge.animationSpeed = 32; 
            gauge.set(0);
            
            // GAUGEJS LUMIn GAUGE 

            var target2 = document.getElementById('luminGauge');
    
            target2.width = target.clientWidth;
            target2.height = target.clientHeight;
    
            var gauge2 = new Gauge(target2).setOptions({
                angle: -0.3, 
                lineWidth: 0.2,
                radiusScale: 0.8,
                pointer: {
                    length: 0.6, 
                    strokeWidth: 0.035, 
                    color: 'rgba(0, 130, 130, 1)' 
                },
                limitMax: false,
                limitMin: false,
                renderTicks: {
                    divisions: 5,
                    divWidth: 1.1,
                    divLength: 0.7,
                    divColor: 'rgba(0, 255, 255, 0.8)' ,
                    subDivisions: 3,
                    subLength: 0.5,
                    subWidth: 0.6,
                    subColor: 'rgba(0, 255, 255, 0.8)' 
                },
                staticLabels: {
                    font: "10px sans-serif", 
                    labels: [0, 20, 40, 60, 80, 100],  
                    color: 'rgba(0, 0, 0, 0.8)' ,  
                    fractionDigits: 0  
                },
                staticZones: [
                    {strokeStyle: 'rgba(0, 70, 70, 0.5)', min: 0, max: 400}, 
                ],
            });
            gauge2.maxValue = 400; 
            gauge2.setMinValue(0);  
            gauge2.animationSpeed = 32; 
            gauge2.set(0); 
    
            socket.on('connect', function() {
                console.log('Connected to server');
            });
    
            socket.on('arduino_status', function(data) {
                let statusDiv = document.getElementById('status');
                statusDiv.innerHTML = `<p>~$: ${data.message}</p>`;
            });
    
            socket.on('sensor_data', function(data) {
                var now = new Date().getTime();
                if (displayDistanceLive || displayLuminLive) {
                    let arduinoDataDiv = document.getElementById('arduino-data'); 
                    let newArduinoData = `Distance: ${data.distance} cm; Light Intensity:  ${data.photoSensor} lx\n`;
                    arduinoDataDiv.textContent = newArduinoData;
                    arduinoDataDiv.scrollTop = 0;

                }
                if (displayDistanceLive) {   
                    distanceChart.data.labels.push(now);
                    distanceChart.data.datasets[0].data.push(data.distance);
                    distanceChart.update();
    
                    gaugeData.append(now, data.distance);
                    gauge.set(data.distance);  
 
                }
                if (displayLuminLive) {
                    luminChart.data.labels.push(now);
                    luminChart.data.datasets[0].data.push(data.photoSensor);
                    luminChart.update();

                    gauge2.set(data.photoSensor);

                    luminData.append(now, data.photoSensor);  
                }
            });

            function resetChart(chart) {
                chart.data.labels = [];
                chart.data.datasets.forEach(dataset => {
                    dataset.data = [];
                });
                chart.update();
            }
    
            $('#button-1').click(function() {
                fetch('/open', {method: 'POST'})
                .then(response => response.json())
                .catch(error => alert('Error: ' + error));
            });
    
            $('#button-2').click(function() {
                monitorDistanceLive = !monitorDistanceLive; 
                if (monitorDistanceLive) {
                    fetch('/start_monitoring_distance', {method: 'POST'})
                    .then(response => response.json())
                    .catch(error => alert('Error: ' + error));
                } else {
                    fetch('/stop_monitoring_distance', {method: 'POST'})
                    .then(response => response.json())
                    .catch(error => alert('Error: ' + error));
                }
            });
    
            $('#button-3').click(function() {
                resetChart(distanceChart); 
                displayDistanceLive = !displayDistanceLive; 
                $('#arduino-display-data').toggle(); 
                let statusDiv = document.getElementById('status');
                statusDiv.innerHTML = `<p>~$: Realtime Distance display ${displayDistanceLive ? 'ON' : 'OFF'}</p>`
            });

            $('#button-4').click(function() {
                fetch('/disconnect', {method: 'POST'})
                .then(response => response.json())
                .catch(error => alert('Error: ' + error));
            });

            $('#button-5').click(function() {
                resetChart(distanceChart);
                resetChart(luminChart);
                monitorDistanceLive = false;
                monitorLuminLive = false;
                fetch('/stop_monitoring_all', {method: 'POST'})
                .then(response => response.json())
                .catch(error => alert('Error: ' + error));
            });

            $('#button-6').click(function() {
                resetChart(distanceChart);
                displayDistanceLive = false; 
                fetch('/get_data', {method: 'GET'})
                .then(response => response.json())
                .then(data => {
                    distanceChart.data.labels = data.map(d => d.timestamp);
                    distanceChart.data.datasets[0].data = data.map(d => d.distance);
                    distanceChart.update();
                })
                .catch(error => alert('Error: ' + error));
            });

            $('#button-7').click(function() {
                monitorLuminLive = !monitorLuminLive; 
                if (monitorLuminLive) {
                    fetch('/start_monitoring_lumin', {method: 'POST'})
                    .then(response => response.json())
                    .catch(error => alert('Error: ' + error));
                } else {
                    fetch('/stop_monitoring_lumin', {method: 'POST'})
                    .then(response => response.json())
                    .catch(error => alert('Error: ' + error));
                }
            });

            $('#button-8').click(function() {
                resetChart(luminChart);
                displayLuminLive = !displayLuminLive; 
                let statusDiv = document.getElementById('status');
                statusDiv.innerHTML = `<p>~$: Realtime Light Intensity display ${displayLuminLive ? 'ON' : 'OFF'}</p>`
            });

            $('#button-9').click(function() {
                resetChart(luminChart);
                monitorLuminLive = false;
                displayLuminLive = false; 
                fetch('/get_data', {method: 'GET'})
                .then(response => response.json())
                .then(data => {
                    const timestamps = data.map(d => new Date(d.timestamp));
                    luminChart.data.labels = timestamps;
                    luminChart.data.datasets[0].data = data.map(d => ({x: new Date(d.timestamp), y: d.photoSensor}));
                    luminChart.update();
                })
                .catch(error => alert('Error: ' + error));
            });
           
            $('#button-10').click(function() {
                resetChart(distanceChart);
                displayDistanceLive = false; 
                fetch('/get_data_db_distance', {method: 'GET'})
                .then(response => response.json())
                .then(data => {
                    const timestamps = data.map(d => new Date(d.timestamp));
                    distanceChart.data.labels = timestamps;
                    distanceChart.data.datasets[0].data = data.map(d => ({x: new Date(d.timestamp), y: d.distance}));
                    distanceChart.update();
                })
                .catch(error => alert('Error: ' + error));
            });
            
            $('#button-11').click(function() {
                resetChart(luminChart);
                displayLuminLive = false; 
                fetch('/get_data_db_lumin', {method: 'GET'})
                .then(response => response.json())
                .then(data => {
                    const timestamps = data.map(d => new Date(d.timestamp));
                    luminChart.data.labels = timestamps;
                    luminChart.data.datasets[0].data = data.map(d => ({x: new Date(d.timestamp), y: d.photoSensor}));
                    luminChart.update();
                })
                .catch(error => alert('Error: ' + error));
            });
            
        });
    </script>
    
</body>
</html>
