body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header-container {
    background: linear-gradient(135deg, rgba(22, 22, 22, 0.9) 0%, rgba(79, 79, 79, 0.9) 50%, rgba(22, 22, 22, 0.9) 100%,);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.header-container {
    text-align: center;
}

header h1 {
    font-size: 40px; 
    font-weight: 700; 
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to right, #ff4d4d, #990000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

#h2 {
    font-size: 40px; 
    font-weight: 700; 
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to right, #ff4d4d, #990000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

#h3 {
    font-size: 40px; 
    font-weight: 700; 
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to right, rgb(77, 255, 255), rgb(0, 153, 153)); /* Converted gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.data-display {
    background: #333333;
    padding: 10px;
    border-radius: 5px;
    height: 60vh;
    overflow-y: auto;
    text-align: left;
    color: #f0f0f0;
}

footer {
    margin-top: 7.5vh;
    color: #777;
}

.container {
    display: flex;
    gap: 20px; 
    max-width: 100vw;
    height: 80vh; 
}

.column {
    flex: 1; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.column-1 {
    flex: 2;
    padding: 1rem;
    background: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(38, 38, 38) 75%, rgb(11, 11, 11) 100%);
    border: 0.2rem solid rgb(58, 48, 48);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
}

.column-2 {
    flex: 4;
}

.column-3 {
    flex: 2; 
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        margin-bottom: 20px;
    }
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}

.button-grid-smaller {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}

button {
    color: rgb(183, 141, 141);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
}

.button-1 {
    background-color: #4d0000;
    border-color: #4d0000;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s; 
}

.button-1:hover {
    background-color: #660000;
    border-color: #660000;
}

.button-2 {
    background-color: #400000; 
    border-color: #400000;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-2:hover {
    background-color: #520000;
    border-color: #520000;
}

.button-3 {
    background-color: #330000; 
    border-color: #330000;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-3:hover {
    background-color: #450000;
    border-color: #450000;
}

.button-4 {
    background-color: #290000;
    border-color: #290000;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-4:hover {
    background-color: #3b0000;
    border-color: #3b0000;
}

.button-5 {
    background-color: #1f0000;
    border-color: #1f0000;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-5:hover {
    background-color: #2b0000;
    border-color: #2b0000;
}

.button-6 {
    background-color: #140000;
    border-color: #140000;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-6:hover {
    background-color: #200000;
    border-color: #200000;
}

.button-7 {
    background-color: rgb(0, 64, 64); 
    border-color: rgb(0, 64, 64);
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    color: rgb(141, 183, 183);
}

.button-7:hover {
    background-color: rgb(0, 82, 82);
    border-color: rgb(0, 82, 82);
}

.button-8 {
    background-color: rgb(0, 51, 51); 
    border-color: rgb(0, 51, 51);
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    color: rgb(141, 183, 183);
}

.button-8:hover {
    background-color: rgb(0, 69, 69);
    border-color: rgb(0, 69, 69);
}

.button-9 {
    background-color: rgb(0, 20, 20);
    border-color: rgb(0, 20, 20);
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    color: rgb(141, 183, 183);
}

.button-9:hover {
    background-color: rgb(0, 32, 32);
    border-color: rgb(0, 32, 32);
}


#status {
    margin-top: 1vh;
    background-color: black;
    text-align: left;
    color: rgb(148, 21, 21);
    border: 0.2rem solid rgb(58, 48, 48); 
    height: 5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-left: 0.5rem;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#monitor-data {
    margin-top: 1vh;
    margin-bottom: 7vh !important;
    background-color: black;
    text-align: left;
    color: rgb(148, 21, 21);
    border: 0.2rem solid rgb(58, 48, 48); 
    height: 50vh;
    overflow-y: auto;
    max-height: 5vh;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-left: 0.5rem;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
#arduino-data-display {
    display: none;
}
#arduino-data {
    display: block; 
}

#knob-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 14vh; 
    padding-top: 0vh;
}

#knob-image {
    height: 10vh; 
    max-width: 100%; 
    filter: brightness(60%);
}

.chart{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0.2rem solid rgb(100, 62, 62); 
    max-height: 40vh;
    height: 39vh;
    margin-bottom: 2vh;
}

.smoothie-graph {
    margin-top: 2vh !important;
    width: 24vw; 
    height: 8vh; 
    position: relative;
    color: rgb(148, 21, 21);
    border: 0.2rem solid rgb(58, 48, 48); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.cifernik{
    padding: 1rem;
    max-height: 40vh;
    height: 39vh;
    margin-bottom: 2vh;
}

#distanceGauge {
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7); 
    padding: 1rem;
    border: 0.2rem solid rgba(70, 0, 0, 0.5); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#luminGauge {
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7); 
    padding: 1rem;
    border: 0.2rem solid rgba(0, 70, 70, 0.5); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* <div id="knob-container">
<img src="{{ url_for('static', filename='/knob.png') }}" id="knob-image" alt="Knob" style="transform: rotate(-104deg);">
<img src="{{ url_for('static', filename='/knob.png') }}" id="knob-image" alt="Knob" style="transform: rotate(26deg);">
</div> */